.pregunt{
	font-family: $fuente;
	font-weight: $fuente-semi-bold;
	font-style: normal;
	font-size: 26px;
}
.tamaño{
	font-family: $fuente;
	font-weight: $fuente-regular;
	font-style: normal;
	font-size: 26px;
}
.conta{
	font-family: $fuente;
	font-weight: $fuente-semi-bold;
	font-style: normal;
	font-size: 30px;
	text-align: center;
}